@import '../variables.scss';
@import '../mixins.scss';


.features {
  position: relative;
  background: $section-bg-color;
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: 200px 10%;
  }

  &__type {
    @include section-type();
  }

  &__title {
    @include section-title();
    margin: 10px 0 20px 0;
  }

  &__container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;

    @media screen and (min-width: 1024px) {
      display: grid;
    }
  }

  &__feature {
    margin: 50px 0;
  }

  &__pencil-cup {
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    width: 250px;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__headphones {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;

    @media screen and (min-width: 678px) {
      width: 150px;
    }
  }

  &__coffe-cup {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 150px;

    @media screen and (min-width: 678px) {
      width: 200px;
    }
  }
}