@import '../variables.scss';

.stylish-design {
  padding: 70px 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.65)),
    url(../assets/stylish-design/u-25-state-0@3x.png) no-repeat center/cover;
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: 100px 10%;
  }

  &__title {
    color: $white-color;

    &::after {
      content: "";
      display: block;
      width: 10%;
      height: 2px;
      margin: 20px auto 0 auto;
      background: #ffffff;
    } 
  }


  &__description {
    margin: 20px 0;
    color: $white-color;
    opacity: 0.6;

    @media screen and (min-width: 1024px) {
      margin: 40px 0;
    }
  }
}