body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page title */
.page-title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.page-title--font {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
}

.page-title--border {
  border: lightgray 1px solid;
}

/* Daily information bar */
.info-bar {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.info-bar--background {
  background: #f4f4f4;
}

.info-bar--border {
  border: 1px solid lightgrey;
}

.info-bar__span {
  display: flex;
  justify-content: center;
}

.info-bar__temperature,
.info-bar__actions {
  flex: 1;
}

.info-bar__date {
  flex: 2;
}

.info-bar__actions {
  color: #8ea4e5;
}

.info-bar__link--color {
  cursor: pointer;
  text-decoration: none;
  color: #8ea4e5;
}

/* Banner image */
.banner {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
}

/* Layout changing buttons */
.btn {
  display: none;
}

.btn__label {
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 60px;
  background: #57a9ed;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.btn__label--position {
  position: fixed;
}

.btn__label--position-1 {
  bottom: 20px;
  left: 20px;
}
.btn__label--position-2 {
  bottom: 20px;
  left: 133px;
}
.btn__label--position-3 {
  bottom: 20px;
  left: 250px;
}

#dark-theme:checked ~ .articles,
#dark-theme:checked ~ .article-details {
  background: rgb(20, 18, 18);
  color: white;
}

#font-change:checked ~ .articles .article__intro--font,
#font-change:checked ~ .article-details  {
  font-family: 'Raleway', sans-serif;
}

#bigger-font:checked ~ .articles .article__intro--font,
#bigger-font:checked ~ .article-details  {
  font-size: 20px;
}

/* Articles area */
.articles {
  padding: 20px 15px 0 15px;
  margin: 0 auto 0 auto;
  columns: 3;
}

.articles--font {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

.article {
  break-inside: avoid;
}

.article__title {
  margin: 0 0 20px 0;
  min-height: 80px;
}

.article__title--font {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}

.article__figure {
 margin: 0;
}

.article__img--size {
  width: 100%;
}

.article__intro--font {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

/* Articles details */
.article-details {
  /* width: 80%; */
  /* margin: auto 0 auto; */
  padding: 30px 15px;
}

.article-details--columns {
  columns: 3;
  column-rule: 1px dotted #ccc;
  column-gap: 40px;
}

.article-details__title {
  text-align: center;
  column-span: all;
}

.article-details__title--font {
  font-family: "Kaushan Script", cursive;
  font-size: 32px;
}

.article-details__intro {
  margin-bottom: 40px;
  column-span: all;
}

.article-details__img {
  max-width: 100%;
}

.article-details__big-img {
  margin: 1em 0;
  display: block;
  column-span: all;
  width: 100%;
}

.article-details__blockquote {
  font: 1.5em "Berkshire Swash", cursive;
  margin: 0;
  column-span: all;
  text-align: center;
}

.article-details__caption {
  font: 0.9em "Berkshire Swash", cursive;
  text-align: center;
  margin-bottom: 15px;
}

.article-details__figure {
  margin: 0;
  break-inside: avoid-column;
  text-align: center;
}

/* Footer */
.footer {
  background: #eae3e3;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
