@import "./variables.scss";
@import "./mixins.scss";

.section {
  padding: 50px 10%;

  @include respond(md) {
    padding: 70px 10%;
  }

  @include respond(lg) {
    padding: 100px 10%;
  }
}

.section-title {
  font-family: $font-primary;
  text-transform: uppercase;

  &--white {
    color: $white-color;
  }

  &--black {
    color: $title-color;
  }

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    // margin: 20px auto;
    background: $separator-color;

    @include respond(lg) {
      // margin: 40px auto;
    }
  }

  @include respond(lg) {
    font-size: 1.8rem;
  }
}

.section-type {
  font-family: $font-special;

  &--white {
    color: $white-color;
  }

  &--black {
    color: $title-color;
  }

  @include respond(lg) {
    font-size: 1.4rem;
  }
}

.section-description {
  font-family: Roboto;
  line-height: 1.6;
  color: $description-color;
  font-size: 0.8rem;

  @include respond(lg) {
    font-size: 0.95rem;
  }
}

.small-title {
  color: $title-color;
  font-weight: bold;
  text-transform: uppercase;
}

// Navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-color;

  &__logo {
    color: $white-color;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(lg) {
      font-size: 2rem;
    }
  }

  &__menu {
    display: none;
    justify-content: flex-end;
    flex-basis: 70%;
    list-style-type: none;

    li:nth-child(even) {
      margin: 0 5%;

      @include respond(lg) {
        margin: 0 40px;
      }
    }

    @include respond(md) {
      display: flex;
    }
  }

  &__menu-item {
    a {
      position: relative;
      color: $white-color;
      font-size: 0.8rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $menu-on-hover-color;
      }

      &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background: $menu-on-hover-color;
      }

      @include respond(lg) {
        font-size: 1rem;
      }
    }
  }

  &__menu-shopping,
  &__menu-search {
    position: relative;
    width: 16px;
    height: 16px;

    &:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 2px;
      width: 100%;
      background: $menu-on-hover-color;
    }

    @include respond(lg) {
      width: 18px;
      height: 18px;
    }
  }

  &__menu-shopping {
    background: url(../assests/images/banner/cart.svg) center bottom/cover
      no-repeat;

    &:hover {
      background: url(../assests/images/banner/cart-color.svg) center
        bottom/cover no-repeat;
    }
  }

  &__menu-search {
    background: url(../assests/images/banner/search.svg) center bottom/cover
      no-repeat;

    &:hover {
      background: url(../assests/images/banner/magnifying-glass.svg) center
        bottom/cover no-repeat;
    }
  }

  &__mobile-btn {
    font-size: 1.2rem;
    cursor: pointer;

    @include respond(md) {
      display: none;
    }
  }
}

// About
.moving-image {
  &__bg {
    background-color: $icon-color;
  }

  &__box {
    // height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: transform 0.3s linear;

    &::after {
      content: "";
      background-image: linear-gradient(
        to bottom,
        #f38181dc 0%,
        #f38181dc 30%,
        #fce38ae3 90%
      );
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s linear;
      z-index: 1;
    }

    &:hover {
      transform: translate(-10px, -10px);

      &::after {
        opacity: 1;
      }

      .moving-image__overlay-content {
        opacity: 1;
      }
    }
  }

  &__picture {
    display: block;
    width: 100%;
    transition: transform 0.3s linear;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__overlay-content {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    opacity: 0;
    transition: opacity 0.3s linear;
    transform: translate(-50%, -50%);
    z-index: 3;

    p {
      color: $white-color;
    }
    
    &--socials {
      display: flex;
    }
  }

  &__icon {
    display: block;
    padding: 10px;
    background: #fce38a;
    border-left: 1px solid $separator-color;
    text-decoration: none;

    &--facebook {
      background: $separator-color;
    }
  }

  &__img-generals {
    background: $white-color;
  }

  &__name {
    padding: 20px 0 10px 0;
  }

  &__position {
    font-size: 0.8rem;
    color: $description-color;
    font-style: italic;
  }
}

// Company offer
.single-offer {
  border-bottom: 1px dotted #d8d8d8;
  &__title {
    margin: 15px 0;
    color: $title-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include respond(lg) {
    display: flex;
    align-items: flex-start;

    &__icon {
      margin-right: 20px;
    }

    &__title {
      margin-top: 0;
    }

    border-bottom: 1px solid #d8d8d8;
    &:nth-child(n + 4) {
      border: none;
    }
  }
}

// Services
.accordion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: $white-color;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  text-align: left;

  &__img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &:hover {
    background: $description-color;
  }

  &::after {
    content: "\276F";
    width: 15px;
    height: 15px;
    margin-left: auto;
    text-align: center;
  }
}

// Opinion
.single-person {
  display: flex;
  text-align: left;

  &__image {
    flex-basis: 30%;
    margin-right: 30px;

    img {
      border-radius: 60px;
    }
  }

  &__position {
    margin: 10px 0;
    color: $description-color;
    font-style: italic;

    &::after {
      content: "";
      display: block;
      margin: 20px 0;
      width: 60px;
      height: 2px;
      background: $separator-color;
    }
  }
}

// Latest
.article {
  &__image {
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__date {
    position: absolute;
    bottom: 10%;
    left: -10px;
    padding: 10px 15px;
    color: $white-color;
    background: $icon-color;
    span {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__title {
    margin-top: 10px;
  }

  &__description {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;

    @include respond(md) {
      padding: 15px 0;
    }
  }

  &__views {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    img {
      width: 16px;
      margin-right: 5px;
    }

    p:nth-child(2) {
      margin-right: 20px;
    }

    @include respond(md) {
      justify-content: left;
    }
  }
}

// Footer
.details {
  &__title {
    color: #cccccc;
    font-size: 2rem;
  }

  &__description {
    margin: 30px 0;
  }

  &__followers-number {
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin: 10px 0;
      background: #e5e5e5;
    }
  }

  &__follow {
    display: flex;
    span {
      margin-right: 20px;
      color: $description-color;
      font-family: $roboto-font;
      font-style: italic;
    }
  }

  &__socials {
    display: flex;
    list-style: none;

    li:nth-child(odd) {
      margin: 0 10px;
    }
  }

  &__social-link {
    img {
      width: 16px;
      cursor: pointer;
    }
  }

  &__form {
    max-width: 100%;
    margin-top: 30px;
  }

  &__email {
    min-width: 200px;
    padding: 7px 5px;
    background: #ffffff;
    border: 1px solid #e7e7e7;

    &::placeholder {
      color: $description-color;
      font-style: italic;
      background: #ffffff;
    }
  }

  &__submit-btn {
    max-width: 200px;
    padding: 7px 30px;
    color: $white-color;
    background: $icon-color;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.blog {
  &__container {
    margin: 20px 0 0 0;

    div:last-child {
      margin-bottom: 0;
    }
  }

  &__single-post {
    margin-bottom: 20px;
    display: flex;

    @include respond(md) {
      display: block;
    }

    @media screen and (min-width: 1400px) {
      display: flex;
    }
  }

  &__post-img {
    margin-right: 20px;
  }

  &__post-title {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include respond(md) {
      margin: 10px 0;
    }
  }

  &__post-date {
    margin-top: 5px;
    color: $description-color;
    font-size: 0.9rem;
    font-family: $roboto-font;
    font-style: italic;
  }
}

.instagram {
  &__container {
    // max-width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr;
    margin: 30px 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    color: $description-color;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
