@import "./variables.scss";
@import "./mixins.scss";

.section-title {
  font-family: $font-primary;
  text-transform: uppercase;

  &--white {
    color: $white-color;
  }

  &--black {
    color: $title-color;
  }

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 20px auto;
    background: $separator-color;
  }

  @include respond(lg) {
    font-size: 1.8rem;
  }
}

.section-type {
  font-family: $font-special;

  &--white {
    color: $white-color;
  }

  &--black {
    color: $title-color;
  }

  @include respond(lg) {
    font-size: 1.4rem;
  }
}

.section-description {
  font-family: Roboto;
  line-height: 1.6;
  color: $description-color;
  font-size: 0.8rem;

  @include respond(lg) {
    font-size: 0.95rem;
  }
}

// Navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-color;

  &__logo {
    color: $white-color;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(lg) {
      font-size: 2rem;
    }
  }

  &__menu {
    display: none;
    justify-content: flex-end;
    flex-basis: 70%;
    list-style-type: none;

    li:nth-child(even) {
      margin: 0 5%;

      @include respond(lg) {
        margin: 0 40px;
      }
    }

    @include respond(md) {
      display: flex;
    }
  }

  &__menu-item {
    a {
      position: relative;
      color: $white-color;
      font-size: 0.8rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $menu-on-hover-color;
      }

      &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background: $menu-on-hover-color;
      }

      @include respond(lg) {
        font-size: 1rem;
      }
    }

    img {
      width: 16px;
      cursor: pointer;

      &:hover {
        fill: $menu-on-hover-color;
      }

      @include respond(lg) {
        width: 18px;
      }
    }
  }

  &__mobile-btn {
    font-size: 1.2rem;
    cursor: pointer;

    @include respond(md) {
      display: none;
    }
  }
}
