@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat+Subrayada|Roboto&display=swap");
@import "./variables.scss";
@import "./components.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// -------------- Banner --------------
// @import './sections/banner.scss';
.banner {
  padding: 0 10%;
  background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.85),
      rgba(252, 227, 138, 0.85)
    ),
    url(../assests/images/banner/layer-15.jpg) center bottom/cover no-repeat;

  &__header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;
  }

  &__logo {
    text-transform: none;
  }

  &__container {
    padding: 100px 0;
    text-align: center;
  }

  &__type {
    font-size: 2rem;
  }

  &__title {
    margin: 20px 0;
    font-size: 3rem;

    &::after {
      background: $white-color;
    }
  }

  &__button {
    padding: 10px 30px;
    background: transparent;
    border: 2px solid $white-color;
    color: $white-color;
  }
}

// -------------- About us --------------
.about-us {
  padding: 50px 10%;
  text-align: center;

  @include respond(lg) {
    padding: 60px 20%;
  }

  &__title {
    margin-top: 10px;
  }

  &__services {
    margin-top: 50px;
  }
}

// -------------- Counters --------------
.counters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 10%;
  color: $white-color;
  background: $icon-color;
  text-align: center;

  div:nth-child(even) {
    border-top: 1px solid $white-color;
    border-bottom: 1px solid $white-color;
  }

  @include respond(md) {
    div {
      border: 1px solid $white-color;
    }

    justify-content: space-around;
  }

  @include respond(lg) {
    flex-wrap: nowrap;
    padding: 0 20%;

    div,
    div:nth-child(even) {
      border: none;
    }

    div:nth-child(odd) {
      border-left: 1px solid $white-color;
      border-right: 1px solid $white-color;
    }
  }

  &__container {
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 20px 0;

    @include respond(md) {
      flex-basis: 48%;
      padding: 40px 20px;
    }

    @include respond(lg) {
      margin: 0;
    }
  }

  &__number {
    font-family: $font-primary;
    font-size: 3rem;
    font-weight: bold;
  }

  &__details {
    text-transform: uppercase;
  }
}

// -------------- Company offer --------------
.company-offer {
  padding: 50px 10%;
  text-align: center;

  @include respond(lg) {
    padding: 50px 20%;
  }

  &__container {
    margin-top: 50px;

    @include respond(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include respond(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: left;
    }
  }

  &__single-offer {
    padding: 0 10px;
    flex-basis: 50%;
  }
}

.single-offer {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dotted #d8d8d8;
  &__title {
    margin: 15px 0;
    color: $title-color;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include respond(lg) {
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;

    &__icon {
      margin-right: 20px;
    }

    &__title {
      margin-top: 0;
    }

    border-bottom: 1px solid #d8d8d8;
    &:nth-child(n + 4) {
      padding-top: 30px;
      border: none;
    }
  }
}

// -------------- Unique design --------------
.unique-design {
  padding: 50px 10% 0 10%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../assests/images/unique-design/layer-45@2x.jpg) center bottom/cover
      no-repeat;
  text-align: center;

  &__title {
    margin-top: 10px;
  }
}

// -------------- Services --------------
.services {
  padding: 50px 10%;
  text-align: center;

  @include respond(lg) {
    padding: 50px 20%;
  }

  &__title {
    margin-top: 10px;
  }

  &__content {
    @include respond(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      margin-top: 50px;
    }
  }

  &__accordion {
    margin-bottom: 10px;
  }

  &__img {
    margin: 30px 0;
    max-width: 100%;

    @include respond(md) {
      margin: 0;
    }
  }
}

.accordion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: $title-color;
  background-color: $white-color;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;

  &__img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &:hover {
    background: $description-color;
  }

  &::after {
    content: "\276F";
    width: 15px;
    height: 15px;
    margin-left: auto;
    text-align: center;
  }
}
// .panel {
//   padding: 0 18px;
//   background-color: white;
//   display: none;
//   overflow: scroll;
// }

// -------------- Slider --------------
.slider {
  padding: 50px 10%;
  display: none;
  background: #f8f8f8;

  @include respond(lg) {
    padding: 50px 20%;
    display: grid;
    grid-template-columns: 5% 80% 5%;
    grid-column-gap: 5%;
  }

  &__container {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-column-gap: 5%;
  }

  &__img {
    // flex-basis: 20%;
    width: 100%;
    padding: 20px;
    border: 2px solid $icon-color;
  }

  &__details {
    // flex-basis: 80%;
    // display: flex;
  }

  &__quotation {
    color: $description-color;
    font-style: italic;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: $font-special;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin-right: 5px;
      background: $separator-color;
    }
  }

  &__previous-btn,
  &__next-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// -------------- Slider --------------
.company-logos {
  display: none;
  padding: 50px 10%;
  text-align: center;

  @include respond(lg) {
    padding: 50px 20%;
    display: block;
  }

  &__image {
    width: 100%;
  }
}

// -------------- Projects --------------
.projects {
  padding: 50px 10%;
  text-align: center;

  @include respond(lg) {
    padding: 50px 20%;
  }
}

// -------------- Gallery --------------
.gallery {
  display: grid;
  // height: 400px;;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 1fr 1fr;

  &__container {
    width: 100%;
    height: 100%;
    &--wide {
      grid-column: 3;
      grid-row: 1 / span 2;
    }

    &--with-bg {
      background: linear-gradient(
          to bottom,
          rgba(243, 129, 129, 0.85),
          rgba(252, 227, 138, 0.85)
        ),
        url(../assests/images/gallery/layer-29@2x.jpg) center bottom/cover
          no-repeat;
    }

    &--with-text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-color;
      font-size: 0.7rem;
      text-align: center;
    }
  }

  &__image-details {
    display: none;
    
    @include respond(md) {
      display: block;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__details-title {
    margin: 5px 0;
    text-transform: uppercase;
  }

}
