// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-special: 'Kaushan Script', cursive;
$roboto-font: 'Roboto', sans-serif;

// Colors
$title-color: #333333;
$separator-color: #f38181;
$description-color: #999999;
$icon-color: #95e1d3;
$white-color: #ffffff;
$black-color: #000000;