@import url("https://fonts.googleapis.com/css?family=Exo:300,400,700&display=swap");
.button {
  color: #ffffff;
  border: none;
  border-radius: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer; }
  .button--pink {
    background: #f04c4c; }

.section-space {
  padding: 100px 10%; }

.section-title__dots {
  color: #f04c4c; }

.feature__icon {
  width: 50px; }

.feature__subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 20px; }

.feature__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8; }

.single-person__img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: url(../assets/ceo/entrepreneurship-3498259_640.jpg) no-repeat;
  background-size: cover;
  border-radius: 60px; }

.single-person__name {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 10px 0 5px 0;
  color: #ffffff; }

.single-person__position {
  color: #f04c4c;
  font-size: 0.7rem; }

.single-person__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
  margin-top: 20px;
  color: #ffffff;
  font-style: italic; }

.founders-company__starbucks {
  margin: 20px;
  width: 130px; }
  @media screen and (min-width: 1024px) {
    .founders-company__starbucks {
      margin: 40px; } }

.contact-form__input, .contact-form__submit {
  width: 100%;
  padding: 10px 10px;
  font-size: 0.7rem; }
  @media screen and (min-width: 1024px) {
    .contact-form__input, .contact-form__submit {
      width: 100%; } }

.contact-form__input {
  margin-bottom: 10px;
  background: #323969;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 0.7rem;
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .contact-form__input {
      margin-bottom: 0;
      margin-right: 20px; } }

.contact-form__input::placeholder {
  color: #ffffff; }

.contact-form__trial {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 0.7rem; }
  .contact-form__trial img {
    margin-top: 5px;
    width: 20px; }
  @media screen and (min-width: 1024px) {
    .contact-form__trial {
      top: -50px;
      right: 6%;
      position: absolute; } }

.contact-form__submit {
  color: #ffffff;
  background: #f04c4c;
  border: none;
  border-radius: 3px;
  text-transform: uppercase; }
  .contact-form__submit--disabled {
    cursor: not-allowed;
    opacity: 0.7; }

.contact-form__val-error {
  margin-bottom: 20px;
  color: #f04c4c;
  font-size: 0.7rem;
  font-style: italic;
  overflow-x: hidden; }
  @media screen and (min-width: 1024px) {
    .contact-form__val-error {
      margin-bottom: 0;
      margin-top: 10px; } }

.footer-socials__icon {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  opacity: 0.4;
  cursor: pointer; }

.footer-form__email {
  margin: 0;
  padding: 7px 10px;
  border: 1px solid lightgray;
  border-radius: 3px; }

.footer-form__email:focus {
  outline: none; }

.footer-form__submit {
  padding: 5px;
  margin: -5px;
  background: #f04c4c;
  border: 1px solid #f04c4c;
  border-radius: 3px; }

.footer-form__submit > img {
  width: 15px;
  height: 15px;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  box-sizing: border-box; }

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2rem; } }

body {
  color: #3a3a3a; }

h2 {
  font-weight: lighter; }

.banner {
  position: relative;
  padding: 200px 10%;
  color: #ffffff;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .banner {
      padding: 250px 10%; } }
  .banner__container {
    margin: 0 auto; }
  .banner__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: fill; }
  .banner__title {
    font-size: 2rem; }

@keyframes pulse {
  from {
    box-shadow: 0 0 0px 0px rgba(240, 76, 76, 0.4); }
  to {
    box-shadow: 0 0 0px 25px rgba(240, 76, 76, 0); } }
  .banner__video-btn {
    width: 60px;
    height: 60px;
    margin: 20px 0;
    border: none;
    border-radius: 60px;
    transition: all 1s linear;
    animation: pulse 1s infinite;
    outline: none;
    cursor: pointer; }
    .banner__video-btn--paused {
      background: url(../assets/video-icons/round-pause-button.svg) no-repeat;
      background-size: 100%; }
    .banner__video-btn--play {
      background: url(../assets/video-icons/play-button.svg) no-repeat;
      background-size: 100%; }
  .banner__action {
    display: block;
    margin: 0 auto;
    padding: 10px 35px; }
  .banner__description {
    margin-top: 10px;
    font-size: 0.7rem; }

@media screen and (min-width: 1024px) {
  .unique-platform {
    display: grid;
    grid-template-columns: 1.5fr 1fr; } }

.unique-platform__left-side {
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .unique-platform__left-side {
      text-align: left; } }
  @media screen and (min-width: 1600px) {
    .unique-platform__left-side {
      padding: 200px 15% 200px 20%; } }

.unique-platform__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px; }

.unique-platform__title {
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  margin: 10px 0 20px 0; }

.unique-platform__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8; }
  .unique-platform__description--extra-space {
    margin-bottom: 20px; }

.unique-platform__right-side {
  display: none; }
  @media screen and (min-width: 1024px) {
    .unique-platform__right-side {
      display: block;
      height: 100%;
      background: #fcfcfb; } }

.unique-platform__bg-shape {
  height: 100%;
  background: #f04c4c;
  clip-path: polygon(100% 20%, 0% 100%, 100% 100%); }

.features {
  position: relative;
  background: #fcfcfb;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .features {
      padding: 200px 10%; } }
  .features__type {
    color: #f04c4c;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3.2px; }
  .features__title {
    font-size: 1.7rem;
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 10px 0 20px 0; }
  .features__container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px; }
    @media screen and (min-width: 1024px) {
      .features__container {
        display: grid; } }
  .features__feature {
    margin: 50px 0; }
  .features__pencil-cup {
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    width: 250px; }
    @media screen and (min-width: 1024px) {
      .features__pencil-cup {
        display: block; } }
  .features__headphones {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px; }
    @media screen and (min-width: 678px) {
      .features__headphones {
        width: 150px; } }
  .features__coffe-cup {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 150px; }
    @media screen and (min-width: 678px) {
      .features__coffe-cup {
        width: 200px; } }

.responsive-design {
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .responsive-design {
      display: flex; } }
  .responsive-design__left-side {
    display: none; }
    @media screen and (min-width: 1024px) {
      .responsive-design__left-side {
        flex-basis: 45%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; } }
  .responsive-design__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f04c4c;
    clip-path: polygon(0 0, 10% 0, 70% 100%, 0 100%); }
  @media screen and (min-width: 1024px) {
    .responsive-design__right-side {
      flex-basis: 55%;
      padding: 150px 10% 150px 0;
      text-align: left; } }
  @media screen and (min-width: 1600px) {
    .responsive-design__right-side {
      padding: 200px 10% 200px 0; } }
  .responsive-design__laptop {
    width: 500px; }
    @media screen and (min-width: 1600px) {
      .responsive-design__laptop {
        width: 600px; } }
  .responsive-design__type {
    color: #f04c4c;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3.2px; }
  .responsive-design__title {
    font-size: 1.7rem;
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 10px 0 20px 0; }
  .responsive-design__description {
    font-size: 0.8rem;
    line-height: 1.6;
    opacity: 0.8; }

.founders {
  background: url(../assets/triangle-bg/group-4@3x.png) no-repeat;
  background-size: cover;
  text-align: center; }
  .founders__single-person {
    margin-bottom: 70px; }
  @media screen and (min-width: 1024px) {
    .founders__people {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 100px; } }

.awsome-feature {
  background: #fcfcfb;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .awsome-feature {
      padding: 100px 10% 0 10%; } }
  .awsome-feature__type {
    color: #f04c4c;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3.2px; }
  .awsome-feature__title {
    font-size: 1.7rem;
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 10px 0 20px 0; }
  .awsome-feature__description {
    font-size: 0.8rem;
    line-height: 1.6;
    opacity: 0.8; }
    @media screen and (min-width: 1024px) {
      .awsome-feature__description {
        width: 70%;
        margin: 0 auto; } }
  .awsome-feature__screen {
    display: none;
    margin: 0 auto;
    height: 400px; }
    @media screen and (min-width: 1024px) {
      .awsome-feature__screen {
        display: block;
        margin-top: 100px; } }

.contact {
  background: #323969;
  text-align: center;
  color: #ffffff; }
  .contact__type {
    color: #f04c4c;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3.2px; }
  .contact__title {
    font-size: 1.7rem;
    letter-spacing: 1.6px;
    font-weight: normal;
    margin: 10px 0 40px 0;
    color: #ffffff; }
    @media screen and (min-width: 1024px) {
      .contact__title {
        margin-bottom: 80px; } }
  .contact__sing-agree {
    margin-top: 20px;
    color: rgba(246, 245, 243, 0.6);
    font-size: 0.6rem; }
  .contact__terms {
    color: rgba(246, 245, 243, 0.6); }
  @media screen and (min-width: 1024px) {
    .contact__form {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px; } }

.footer {
  position: relative;
  padding: 50px 10%;
  text-align: center; }
  @media screen and (min-width: 678px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px; } }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 70px 10%;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-column-gap: 50px;
      text-align: left; } }
  .footer__bg-shape {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f04c4c;
    clip-path: polygon(80% 0%, 100% 0%, 100% 93%, 98% 100%, 96% 90%); }
    @media screen and (min-width: 1024px) {
      .footer__bg-shape {
        display: block; } }
  .footer a,
  .footer p {
    font-size: 0.8rem;
    line-height: 1.6;
    opacity: 0.8;
    display: block;
    color: #3a3a3a;
    text-decoration: none;
    line-height: 2; }
    @media screen and (min-width: 1024px) {
      .footer a,
      .footer p {
        font-size: 0.6rem; } }
  .footer__subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 30px 0 10px 0; }
  .footer__links {
    list-style: none; }
  .footer__form {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .footer__form {
        justify-content: left; } }
  .footer__title-bg {
    display: inline;
    padding: 10px 15px 10px 3px;
    color: white;
    background: #f04c4c;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    text-align: center; }
