@import url("https://fonts.googleapis.com/css?family=Exo:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 678px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.3rem;
  }
}

body {
  color: #3a3a3a;
}

h2 {
  font-weight: lighter;
}

.banner {
  padding: 200px 10%;
  background: url(./assets/banner-img/photo-1433354359170-23-a-4-ae-7338-c-6@3x.jpg) no-repeat;
  background-size: cover;
  background-position: right bottom;
  text-align: center;
}

.banner__container {
  margin: 0 auto;
}

.banner__title {
  font-size: 2rem;
}

.banner__play {
  width: 40px;
  margin: 20px 0;
  opacity: 0.8;
  cursor: pointer;
}

.banner__try-now {
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  background: #f04c4c;
  color: #eeeeee;
  border-radius: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.banner__description {
  margin-top: 10px;
  font-size: 0.7rem;
}

.unique-platform {
  padding: 70px 10%;
  text-align: center;
}

.unique-platform__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.unique-platform__title {
  margin: 10px 0 20px 0;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
}

.unique-platform__title .title__dots {
  color: #f04c4c;
}

.unique-platform__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
}

.unique-platform__triangle {
  display: none;
}

@media screen and (min-width: 1024px) {
  .unique-platform {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    padding: 0;
    text-align: left;
  }
  .unique-platform__left-side {
    padding: 100px 15%;
  }
  .unique-platform__triangle {
    position: relative;
    display: block;
    height: 100%;
    background: #FCFCFB;
  }
  .unique-platform__triangle .triangle__shape {
    width: 100%;
    height: 100%;
    background: #f04c4c;
    -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
  }
}

@media screen and (min-width: 1600px) {
  .unique-platform__left-side {
    padding: 200px 15%;
  }
}

.features {
  position: relative;
  padding: 70px 10%;
  background: #FCFCFB;
  text-align: center;
}

.features__pencils {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
  width: 200px;
}

.features__headphones {
  position: absolute;
  top: 0;
  right: 10px;
  width: 100px;
}

.features__coffe {
  position: absolute;
  bottom: 0;
  right: 15%;
  width: 150px;
}

.features__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.features__title {
  margin: 10px 0 20px 0;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
}

.features__feature {
  margin: 50px 0;
}

.features__icon {
  width: 50px;
}

.features__subtitle {
  margin: 20px 0 10px 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.features__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
}

@media screen and (min-width: 678px) {
  .features__headphones {
    width: 150px;
  }
  .features__coffe {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    padding: 100px 10%;
  }
  .features__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  .features__pencils {
    display: block;
  }
}

.responsive-design {
  padding: 70px 10%;
  text-align: center;
}

.responsive-design__laptop {
  display: none;
}

.responsive-design__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.responsive-design__title {
  margin: 10px 0 20px 0;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
}

.responsive-design__title .title__dots {
  color: #f04c4c;
}

.responsive-design__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .responsive-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .responsive-design__left {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .responsive-design__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f04c4c;
    -webkit-clip-path: polygon(0 0, 10% 0, 70% 100%, 0 100%);
            clip-path: polygon(0 0, 10% 0, 70% 100%, 0 100%);
  }
  .responsive-design__laptop {
    display: block;
    width: 500px;
  }
  .responsive-design__right {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    padding: 150px 10% 150px 0;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .responsive-design__laptop {
    width: 600px;
  }
  .responsive-design__right {
    padding: 200px 10% 200px 0;
  }
}

.founders {
  padding: 70px 10% 20px 10%;
  background: url(./assets/triangle-bg/group-4@3x.png) no-repeat;
  background-size: cover;
  text-align: center;
}

.founders__single-person {
  margin-bottom: 70px;
}

.founders .single-person__img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: url(./assets/ceo/entrepreneurship-3498259_640.jpg) no-repeat;
  background-size: cover;
  border-radius: 60px;
}

.founders .single-person__name {
  margin: 20px 0 10px 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffffff;
}

.founders .single-person__position {
  color: #f04c4c;
  font-size: 0.6rem;
}

.founders .single-person__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
  margin-top: 20px;
  color: #ffffff;
  font-style: italic;
}

.founders__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.founders__company picture {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 20px;
}

.founders__company img {
  width: 150px;
}

@media screen and (min-width: 1024px) {
  .founders {
    padding: 100px 10% 70px 10%;
  }
  .founders__people {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
  }
  .founders__company {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founders__company picture {
    margin: 20px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .founders__company img {
    width: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .founders {
    padding: 150px 10% 100px 10%;
  }
}

.awsome-feature {
  padding: 70px 10%;
  background: #FCFCFB;
  text-align: center;
}

.awsome-feature__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.awsome-feature__title {
  margin: 10px 0 20px 0;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
}

.awsome-feature__description {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
}

.awsome-feature__screen {
  display: none;
  height: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .awsome-feature {
    padding: 100px 10% 0 10%;
  }
  .awsome-feature__description {
    width: 70%;
    margin: 0 auto;
  }
  .awsome-feature__screen {
    margin-top: 100px;
    display: block;
  }
}

.contact {
  padding: 70px 10%;
  background: #323969;
  text-align: center;
  color: #ffffff;
}

.contact__type {
  color: #f04c4c;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.contact__title {
  margin: 10px 0 20px 0;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  margin-bottom: 40px;
  color: #ffffff;
}

.contact__input, .contact__submit {
  width: 60%;
  padding: 10px 10px;
}

.contact__input {
  margin-bottom: 20px;
  background: #323969;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.contact__input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact__input:-ms-input-placeholder {
  color: #ffffff;
}

.contact__input::-ms-input-placeholder {
  color: #ffffff;
}

.contact__input::placeholder {
  color: #ffffff;
}

.contact__submit {
  color: #ffffff;
  background: #f04c4c;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.contact__trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
}

.contact__trial img {
  width: 50px;
}

.contact__sing-agree {
  margin-top: 20px;
  color: rgba(246, 245, 243, 0.6);
  font-size: 0.6rem;
}

.contact__terms {
  color: rgba(246, 245, 243, 0.6);
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 100px 10%;
  }
  .contact__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
  }
  .contact__trial {
    top: -50px;
    right: 0;
    position: absolute;
  }
  .contact__input {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer {
  width: 80%;
  margin: 0 auto;
  padding: 70px 10%;
  text-align: center;
}

.footer__shape {
  display: none;
}

.footer a, .footer p {
  font-size: 0.8rem;
  line-height: 1.6;
  opacity: 0.8;
  font-size: 0.6rem;
  display: block;
  color: #3a3a3a;
  text-decoration: none;
}

.footer__subtitle {
  margin: 20px 0 10px 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form .form__email {
  margin: 0;
  padding: 7px 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.footer__form .form__email:focus {
  outline: none;
}

.footer__form .form__submit {
  padding: 5px;
  margin: -5px;
  background: #f04c4c;
  border: 1px solid #f04c4c;
  border-radius: 3px;
}

.footer__form .form__submit > img {
  width: 15px;
  height: 15px;
}

.footer__socials {
  padding-top: 20px;
}

.footer__socials .socials__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 678px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    position: relative;
    -ms-grid-columns: 2fr 1fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-column-gap: 50px;
    text-align: left;
  }
  .footer a, .footer p {
    font-size: 0.6rem;
    line-height: 2;
  }
  .footer__form {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__shape {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f04c4c;
    -webkit-clip-path: polygon(80% 0%, 100% 0%, 100% 93%, 98% 100%, 96% 90%);
            clip-path: polygon(80% 0%, 100% 0%, 100% 93%, 98% 100%, 96% 90%);
  }
}
/*# sourceMappingURL=style.css.map */