@import "../variables.scss";
@import "../mixins.scss";

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../assests/images/map/layer-59@2x.jpg) center bottom/cover no-repeat;

  &__icon {
    width: 13px;
    margin-bottom: 5px;

    @include respond(lg) {
      width: 16px;
    }
  }

  &__title {
    margin: 10px 0; 
    color: $separator-color;
    font-size: 1.5rem;
    text-decoration: none;

    &::after {
      width: 40px;
      margin: 10px auto 0 auto;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}