@import "../variables.scss";
@import "../mixins.scss";

.slider {
  display: none;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  text-align: center;

  @media screen and (min-width: 500px) {
    display: grid;
  }

  @include respond(lg) {
    text-align: left;
  }

  &__previous-btn,
  &__next-btn {
    height: 200px;
    background: transparent;
    opacity: 0.3;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    img {
      width: 40px;
    }
  }

  &__previous-btn {
    img {
      transform: rotate(180deg);
    }
  }

  @keyframes move {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    80% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__slide {
    display: none;
    grid-template-columns: 1fr;
    align-items: center;
    animation-name: move;
    animation-duration: 1s;

    @include respond(lg) {
      grid-template-columns: 0.2fr 1fr;
    }

    &--active {
      display: grid;
    }
  }

  &__img-box {
    display: none;
    text-align: center;
    max-height: 100px;

    @include respond(lg) {
      display: block;
    }
  }

  &__img {
    width: 100%;

    &--rounded {
      width: 130px;
      height: 130px;
      border-radius: 90px;
    }

    &--bordered {
      max-width: 100px;
      height: 100%;
      padding: 20px;
      border: 2px solid $icon-color;
    }
  }

  &__details {
    align-self: center;

    @include respond(lg) {
      padding-left: 10px;
    }
  }

  &__quotation {
    color: $description-color;
    font-family: $roboto-font;
    font-weight: 300;
    font-style: italic;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: $font-special;

    @include respond(lg) {
      justify-content: left;
    }

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      margin-right: 5px;
      background: $separator-color;
    }
  }
}
