@import "../variables.scss";
@import "../mixins.scss";

.unique-design {
  padding: 50px 10% 0 10%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../assests/images/unique-design/layer-45@2x.jpg) center bottom/cover
      no-repeat;
  text-align: center;

  &__title {
    margin-top: 10px;
  }

  &__container {
    position: relative;
  }

  &__tablet {
    width: 100%;
    max-width: 500px;
    margin: 20px auto -5px auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  // &__mobile {
  //   display: none;
  //   position: absolute;
  //   bottom: 0;
  //   right: 20%;
  //   transform: translate(20%, 0);
  //   max-width: 250px;

  //   @include respond(lg) {
  //     display: block;
  //   }
  // }
}
