body {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: flex-start;
}

label {
  margin: 5px 10px;
  text-decoration: underline;
  cursor: pointer;
}

#red-label {
  color: red;
}

#green-label {
  color: green;
}

#blue-label {
  color: blue;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.color {
  margin: 3px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

input[type="checkbox"] {
  display: none;
}

/* Checkbox operations */
#red:not(:checked) ~ .colors .red,
#green:not(:checked) ~ .colors .green,
#blue:not(:checked) ~ .colors .blue {
  display: none;
}

#red:not(:checked) ~ #red-label,
#green:not(:checked) ~ #green-label,
#blue:not(:checked) ~ #blue-label {
  opacity: 0.4;
}

