@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import './variables.scss';

@mixin default-padding($top: 70px, $right: 10%, $bottom: 70px, $left: 10%) {
  padding: $top $right $bottom $left;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2rem;
  }
}

// ------------------- Reusable elements -------------------

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;

  &__logo {
    font-size: 1.5rem;
    text-decoration: none;
  }

  &__menu {
    list-style: none;
    display: none;

    li {
      margin-left: 40px;
    }

    li > a {
      color: $description-text-color;
      text-decoration: none;
    }

    li > a:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
  }

  &__mobile-btn {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    &__menu {
      display: flex;
    }

    &__mobile-btn {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    &__menu {
      font-size: 0.8rem;
    }
  }
}

// Logo
.logo {
  color: #ffffff;

  span {
    color: $color-secondary;
    font-weight: lighter;
  }
}

// Transparent button
.transparent-btn {
  padding: 10px 20px;
  color: $white-color;
  background: transparent;
  border: 2px solid $white-color;
  font-size: 0.7rem;
  cursor: pointer;

  &:hover {
    background: $color-secondary;
  }
}

// Form
.form {
  &__input {
    display: block;
    border: none;
    border-bottom: 1px solid $description-text-color;
    font-size: 0.7rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 0.7rem;
  cursor: pointer;

  &--orange {
    color: #ffffff;
    background: $color-secondary;
  }
}

.title {
  margin-bottom: 20px;
  color: $footer-bg-color;
    
  &--bold {
    font-weight: bold;
  }

  &--big {
    font-family: Raleway;
    text-transform: uppercase;
  }
}

.description {
  color: $description-text-color;
  font-size: 0.8rem;
}

.separator {
  display: block;
  width: 10%;
  height: 2px;
  background: $color-secondary;
}

// ------------------- Banner -------------------
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.65)), url(../assets/banner/image.png) no-repeat center/cover;
  text-align: center;

  &__navbar {
    padding: 10px 10%;
  }  
  
  &__container {
    padding: 70px 10%;
  }

  // Left side
  &__left-side {
    color: #ffffff;
  }

  &__logo {
    font-size: 3rem;
  }

  &__subtitle {
    margin: 10px 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
  }

  &__separator {
    margin: 0 auto;
    background: #ffffff;
  }

  &__description {
    margin: 20px 0;
  }

  &__btn {
    margin-top: 20px;
  } 
  
  // Right side
  &__right-side {
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 350px;
    background: #ffffff;
  }

  &__title {
    padding: 15px 0;
    background: $section-bg-color;
    font-weight: bold;

    span {
      color: $color-secondary;
      font-weight: bold;
    }
  }

  &__form {
    input {
      width: 80%;
      margin: 40px auto;
      opacity: 0.6;
    }
  }

  &__form-submit {
    width: 100%;
    padding: 15px 0;
    color: #ffffff;
    background: $color-secondary;
    border: none;
    cursor: pointer;
  }
}  

@media screen and (min-width: 768px) {
  .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.65)), url(../assets/banner/image@3x.png) no-repeat center/cover;
  
    &__separator {
      margin: 0;
    }

    &__container {
      padding: 130px 10%;
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      grid-column-gap: 5%;
      align-items: flex-end;
    }

    &__left-side {
      text-align: left;
    }

    &__right-side {
      margin: 0 0 0 auto;
    }

  }
}

// ------------------- Socials -------------------
.socials {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  text-align: left;

  &__text {
    flex-basis: 40%;
    margin-right: 60px;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 10px 0;
    font-size: 0.7rem;
  }

  &__icons {
    flex: 50%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    opacity: 0.4;
    img {
      width: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .socials {
    display: flex;
  }
}

// ------------------- Tabs -------------------
.tabs {
  @include default-padding();
  background: $section-bg-color;
  text-align: center;

  &__tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1px;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto 40px auto;
  }

  &__tab {
    display: block;
    padding: 20px;
    color: #ffffff;
    background: $footer-bg-color;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
      background: $color-secondary;
    }
  }

  &__description {
    margin: 20px 0;
  }

  &__button {
    margin-top: 20px;
  }

  &__city {
    display: none;
    align-items: center;
    
      img {
        width: 100%;
      }
  };
}

@media screen and (min-width: 768px) {
  .tabs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;

    &__tab-container {
      display: block;
      margin: 0;
    }
    
    &__tab {
      padding: 40px 30px;
      max-width: 100px;
      border: 1px solid $section-bg-color;
      white-space: nowrap;
    }

    &__text-container {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .tabs {
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-column-gap: 50px;

    &__city {
      display: flex;
    }
  }
}

// ------------------- Sub list -------------------
.sub-list {
  @include default-padding();
  text-align: center;

  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }

  &__city {
    display: none;

    img {
      width: 100%;
    }
  }
}

.sub-list-service {
  margin: 40px 0;

  &__title {
    margin: 10px 0;
  }
  
  &__icon {
    width: 50px;
    padding: 10px;
    border: 2px solid $color-secondary;
    border-radius: 60px;
  }
}

@media screen and (min-width: 600px) {
  .sub-list {
    &__services {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
    }

    &__city {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .sub-list {
    display: flex;
    align-items: center;
    text-align: left;

    &__services {
      display: block;
    }
    
    &__separator {
      margin: 0;
    }

    &__city {
      flex-basis: 60%;
      display: block;
    }

    &__text {
      flex-basis: 50%;
      margin-left: 30px;
    }
  }

  .sub-list-service {
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    // margin: 40px auto;

    &__text {
      margin-left: 30px;
    }

    &__description {
      margin: 10px 0;
    }

    &__icon {
      width: 60px;
    }
  } 
}

// ------------------- Standard picture -------------------
.standard-picture {
  @include default-padding();
  background: $section-bg-color;
  text-align: center;

  &__city {
    display: none;

    img {
      width: 100%;
    }
  }

  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .standard-picture {
    display: flex;
    align-items: center;
    text-align: left;

    &__separator {
      margin: 0;
    }

    &__text {
      flex-basis: 50%;
      margin-right: 20px;
    }

    &__city {
      display: block;
      flex-basis: 50%;
    }
  }
}

// ------------------- Awsome things -------------------
.awsome-things {
  @include default-padding();
  text-align: center;

  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }

  &__services {
    margin-top: 40px;
  }
}

.awsome-things-service {
  margin: 50px 0;

  &__icon {
    width: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid $color-secondary;
    border-radius: 60px;
  }
}

@media screen and (min-width: 768px) {
  .awsome-things {
    &__services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
    }
  }

  .awsome-things-service {
    margin: 40px 20px 0 20px;
  }
}


// ------------------- Pricing -------------------
.pricing {
  @include default-padding();
  background: $section-bg-color;
  text-align: center;

  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }
}

.price {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 50px auto 0 auto;
  background: $footer-bg-color;
  color: #ffffff;
  text-align: center;
  
  &__title {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
  }

  &__number {
    font-size: 1.3rem;
    font-family: Raleway;

    span {
      font-family: Raleway;
      font-size: 4rem;
      font-weight: bold;
    }
  }

  &__period {
    margin: 15px 0;
    font-style: italic;
  }

  &__popularity {
    min-height: 5px;
    background: $color-secondary;
  
    &--with-text {
      font-size: 0.8rem;
      padding: 10px 0;
    }
  }

  &__options {
    color: $description-text-color;
    font-size: 0.8rem;
    list-style: none;
  }

  &__option {
    padding: 10px 0;
    background: #ffffff;
    border-bottom: 1px solid $section-bg-color; 
    text-transform: uppercase;
    font-weight: lighter;
  }
}

@media screen and (min-width: 1024px) {
  .pricing {
   &__prices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
   }
  }

  .price {
    width: 100%;
  }
}

// ------------------- Contact -------------------
.customers {
  padding: 70px 10% 30px 10%;
  text-align: center;

  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }

  &__container {
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }
}

.customer {
  max-width: 500px;
  margin: 50px auto;
  
  &__opinion {
    position: relative;
    margin-right: 20px;
    padding: 10px 5px;
    background: $section-bg-color;
    font-style: italic;

    span {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -15px;
      left: 20px;
      background: $section-bg-color;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: left;
    
    img {
      width: 70px;
    }
  }

  &__names {
    margin-left: 15px;
  }

  &__name {
    white-space: nowrap;
    font-weight: bold;
  }

  &__position {
    color: $description-text-color;
  }
}

@media screen and (min-width: 500px) {
  .customer {
    display: flex;
    text-align: left;
  }

  .customer--reversed {
    &__opinion {
      order: 2;
      margin: 0 0 0 40px;
    }

    &__details {
      order: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .customers {
   &__container {
     display: grid;
   }
  }
  
  .customer {
    display: block;
    max-width: 300px;

    &__opinion {
      margin: 0 0 30px 0;
    
      span {
        display: block;
      }
    }

  }
}

// ------------------- Stylish design -------------------
.stylish-design {
  @include default-padding();
  background: linear-gradient(rgba(0,0,0,0.65)), url(../assets/stylish-design/u-25-state-0@3x.png) no-repeat center/cover;
  text-align: center;

  &__title {
    color: $white-color;
  }

  &__separator {
    margin: 0 auto;
    background: $white-color;
  }

  &__description {
    margin: 20px 0;
    color: $white-color;
    opacity: 0.6;
  }
}

@media screen and (min-width: 1024px) {
  .stylish-design {
    padding: 100px 10%;

    &__description {
      margin: 40px 0;
    }
  }
}

// ------------------- Contact -------------------
.contact {
  @include default-padding();
  text-align: center;
  
  &__separator {
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0;
  }

  &__form {
    margin: 0 auto;
  }

  &__input,
  &__message {
    width: 100%;
    margin: 30px auto;
    max-width: 400px;
    opacity: 0.6;
  }

  &__input {
    padding: 0 0 5px 5px;
  }

  &__message {
    padding: 0 0 70px 5px;
  }

  &__btn {
    display: block;
    margin: 40px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
   &__inputs {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 50px;
   }

   &__input,
   &__message {
     width: 100%;
     margin: 30px auto;
     max-width: 1000px;
   }

   &__message {
     margin-top: 0;
   }
  }
}

// ------------------- Footer -------------------
.footer {
  padding: 20px 0 10px 0;
  background: $footer-bg-color;
  text-align: center;

  &__icon {
    margin: 0 10px;
    width: 20px;
  }

  &__copyrights {
    margin-top: 5px;
    color: #ffffff;
    font-size: 0.8rem;
  }
}