body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container .label {
  display: inline-block;
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  background: #4062eb;
  border-radius: 5px;
  color: white;
}

.container input[type="checkbox"] {
  display: none;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

.container table thead {
  background: #4062eb;
  color: white;
}

.container table tbody {
  color: #808080;
}

.container table tbody tr td {
  position: relative;
}

.container table tbody tr:hover {
  background: #ffa;
}

.container table tbody tr td {
  position: relative;
}

tr:nth-child(odd) td:first-child::before {
  content: "";
  position: absolute;
  background-color: lightgray;
  top: 0;
  left: -5000px;
  width: 10000px;
  height: 100%;
  z-index: -10;
}

td:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.container table th,
.container table td {
  padding: 5px;
  border: 1px solid black;
  cursor: default;
}

/* Filter buttons */
#high:checked ~ table tbody .low,
#high:checked ~ table tbody .medium {
  display: none;
}

#high:checked ~ #high-label {
  background: rgb(184, 41, 6);
}

#medium:checked ~ table tbody .low,
#medium:checked ~ table tbody .high {
  display: none;
}

#medium:checked ~ #medium-label {
  background: rgb(184, 41, 6);
}

#low:checked ~ table tbody .high,
#low:checked ~ table tbody .medium {
  display: none;
}

#low:checked ~ #low-label {
  background: rgb(184, 41, 6);
}